<form id="new-photo-form"> <!-- maybe needs more input -->

  <lable> Title
  <input type="text" name="photo[title]">
  </lable>

  <lable> URL
  <input type="text" name="photo[url]">
  </lable>

  <input type="submit" value="Create new photo">


</form>